header {
    display: flex;
    align-items: center;
    margin: 1%;
    padding: 15px;
    background-color: #8693ab;
    border-radius: 10px;
    height: 60px;
}

/* header links (except the linked image) */
header a:not(.image-link) {
    text-decoration: none;
    color: #313638;
    font-family: Verdana;
    font-size: 20px;
    margin: 0 10px;
}

header a:hover:not(.image-link){
    color: aquamarine;
    background-color: rebeccapurple;
}

/* style for the profile icon */
.profile-icon {
    width: 50px;
    height: auto;
}

/* style for the header image  */
.header-profile {
    width: 50px;
    height: auto;
    margin-left: auto;
}

/* dropdown menu position  */
.dropdown {
    position: relative;
    margin-left: auto;
}

/* dropdown menu style  */
.dropdown-menu {
    display: none; 
    position: absolute;
    right: 0;
    background-color: #ffffff;
    z-index: 1000; /* dropdown menu on top of other elements*/
    border-radius: 5px;
}

/* dropdown menu text  */
.dropdown-menu a {
    color: #313638;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    font-family: Verdana;
}

/* no background and text color change on dropdown menu text */
.dropdown-menu a:hover {
    color: #313638;
    background-color: transparent;
}


.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #cdcdcd;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: calc(60px + 50% - 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: verdana, serif;
    font-size: 10px;
}

/* text position in login container*/
h1 {
    text-align: center;
    font-weight: bold;
}

/* links inside of the login container*/
.login-container a {
    text-decoration: none;
    color: #6ca6c1;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px;
    margin: 10px 0;
}

button {
    color: #cdcdcd;
    padding: 10px;
    background-color: #0a2342;
    border: none;
}

label {
display: block;
text-align: right;
width: 40%;
margin-bottom: 5px;
margin-right: 18px;
margin-left: 16px;
}

/* manual adjustment for the "Select file" label*/
label[for="file"] {
margin-right: 3px;
margin-left: 32px;
}

textarea {
font-size: 20px;
width: 100%;
padding: 6px;
border: 1px solid #ccc;
resize: none;
}

input[type="file"] {
display: none;
margin-top: 5px;
}

/* label class for file input*/
.file-upload {
display: inline-block;
padding: 8px 16px;
cursor: pointer;
background-color: #7F7F7F;
color: white;
border: 1px solid black;
text-align: center;
font-size: 20px;
width: 50%;
}


.create-post {
background-color: #0e4d8b;
color: white;
border: none;
padding: 10px 20px;
margin-top: 32px;
margin-left: 82px;
font-size: 20px;
cursor: pointer;
width: 50%;
}


#login-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

#login-form input {
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

#login-form input:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border: 1px solid #00ff2c;
}

#login-form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form > button:hover {
    background-color: #6582a1;
}

#login-form + a {
    color: darkred;
}

.addPost-container {
    display: flex;
    border-radius: 10px;
    font-family: verdana, serif;
    flex-direction: column;
    background-color: #cdcdcd;
    padding: 20px;
    width: 60%;
    margin: 20px auto;
    position: relative;
    text-align: left;
}

.post-group label {
    text-align: left;
}