.post-header ~ p {
    border: 2px solid #ff0000;
}

.post-container {
    display: flex;
    border-radius: 10px;
    font-family: verdana, serif;
    flex-direction: column;
    background-color: #cdcdcd;
    padding: 20px;
    width: 320px;
    margin: 20px auto;
    position: relative;
}

/* style for groups with labels */
.post-group {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    margin-bottom: 18px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-like-button {
    width: 50px;
    height: 50px;
}

.content {
    padding: 20px;
}

body {
    background-color: #313638;
}

#home-button {
    color: chartreuse;
}