.header {
    display: flex;
    align-items: center;
    margin: 1%;
    padding: 15px;
    background-color: #8693ab;
    border-radius: 10px;
    height: 60px;
}

/* header links (except the linked image) */
.header a:not(.image-link) {
    text-decoration: none;
    color: #313638;
    font-family: Verdana;
    font-size: 20px;
    margin: 0 10px;
}

/* style for the image link */
.image-link {
    margin-left: auto;
}

/* style for the profile icon */
.profile-icon {
    width: 50px;
    height: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #cdcdcd;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: calc(60px + 50% - 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: verdana;
    font-size: 10px;
}

/* text position in login container*/
h1 {
    text-align: center;
    font-weight: bold;
}

/* links inside of the login container*/
.login-container a {
    text-decoration: none;
    color: #6ca6c1;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px;
    margin: 10px 0;
}

button {
    color: #cdcdcd;
    padding: 10px;
    background-color: #0a2342;
    border: none;
}