/* header */
.header {
    display: flex;
    align-items: center;
    margin: 1%;
    padding: 15px;
    background-color: #8693ab;
    border-radius: 10px;
}

/* header links (except the linked image) */
.header a:not(.image-link) {
    text-decoration: none;
    color: #313638;
    font-family: Verdana;
    font-size: 20px;
    margin: 0 10px;
}

/* style for the image link */
.image-link {
    margin-left: auto;
}

/* style for the profile icon */
.profile-icon {
    width: 50px;
    height: auto;
}